{% extends "home/base.html" %}

{% block content %}

{% include 'departements/dept_civil/menu_nav_dep_civil.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-12"> 
           
            <div class="card card-body">
                <span class="btn btn-primary btn-sm btn-block" style="background-color:#b2681e;">MODULES </span>
                <table class="table table-sm table-warning">
                    <tr>
                        
                        <th>Code</th>
                        <th>Nom</th>
                        <th>Coef</th>
                        <th>U_E</th>
                        <th>View Details</th>
                    </tr>
                    {% for module in modules %}  
                        <tr>
                            
                            <td>{{ module.code_matiere }}</td>
                            <td>{{ module.nom_matiere |upper }}</td>
                            <td>{{ module.coefficient }}</td>
                            <td>{{ module.unite_enseignement }}</td>
                            <td><a class="btn btn-sm btn-warning" href="#">More</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}