{% extends "home/base.html" %}

{% block content %}



<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body" >
            <h5>Enseignant :</h5>
            <hr>
            <p>Prenom : {{ profs.first_name }}</p>
            <p>Nom : {{ profs.last_name }}</p>
            <p>Email : {{ profs.mail_user }}</p>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Information de l'enseignant :</h5>
            <hr>
            <p>Matières : {{ profs.matieres }}</p>
            
            <p>Chef département : {{ profs.chief }}</p>
            <p></p>
            
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Informations Personnelles :</h5>
            <hr>
            <p>Téléphone : {{ profs.contact_prof }}</p>
            <p>Lieu de naissance : {{ profs.date_adhesion }}</p>
            <p></p>
            
        </div>
    </div>
</div>

<br>



<br>

<!-- <div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for order in orders %}
                    <tr>
                        <td>{{order.id_product}}</td>
                        
                        <td>{{order.date_created}}</td>
                        <td>{{order.status_order}}</td>
                        <td><a class="btn btn-sm btn-info" href="">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
                    </tr>
                {% endfor%}
            </table>
        </div>
    </div>
</div> -->



{% endblock %}