{% extends 'home/base.html' %}

{% block content %}

<div class="container"> 
    
        <div class="alert alert text-light mt-3" role="alert" style="background-color:#FB8C00;">
            <h3>Contact</h3>
        </div>
    
    <div class="col-md">
        <ul class="list-unstyled">
            <li><img src="">Mail: ept@ept.sn Postale: BP A10, Thiès Sénégal</li>
            <li>Téléphone : 00221 33 951 15 48</li>
            <li>Fax: 00221 33 951 14 76</li>
        </ul>
    </div>

    <div class="alert alert-warning mt-3 text-light" role="alert" style="background-color:#FB8C00;">
        <h3>Accès</h3>
    </div>
    <div class="col-md">
        <p>
            L'EPT est situé dans la région de Thiès (environ 70 kms de Dakar, Sénégal), sur un terrain
            de plus de 400 hectares. Son campus comporte des locaux d'enseignement pédagogiques, de recherche,
            d'exploitation et d'hébergement à l'usage des étudiants et d'une partie du personnel.
        </p>
    </div>

    <div class="alert alert-warning mt-3 text-light" role="alert" style="background-color:#FB8C00;">
        <h3>Localisation</h3>
        
    </div>

</div>
  

{% endblock %}

