{% extends 'home/base.html' %}

{% block content %}

<div class="container"> 
    
        <div class="alert alert text-light mt-3" role="alert" style="background-color:#FB8C00;">
            <h3>Contact</h3>
        </div>
    
    <div class="col-md">
        <ul class="list-unstyled">
            <li><img src="">Mail: ept@ept.sn Postale: BP A10, Thiès Sénégal</li>
            <li>Téléphone : 00221 33 951 15 48</li>
            <li>Fax: 00221 33 951 14 76</li>
        </ul>
    </div>

    <div class="alert alert-warning mt-3 text-light" role="alert" style="background-color:#FB8C00;">
        <h3>Accès</h3>
    </div>
    <div class="col-md">
        <p>
            L'EPT est situé dans la région de Thiès (environ 70 kms de Dakar, Sénégal), sur un terrain
            de plus de 400 hectares. Son campus comporte des locaux d'enseignement pédagogiques, de recherche,
            d'exploitation et d'hébergement à l'usage des étudiants et d'une partie du personnel.
        </p>
    </div>

    <div class="alert alert-warning mt-3 text-light" role="alert" style="background-color:#FB8C00;">
        
        <h3>Localisation</h3>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div id='map' style='width: 100%; height: 500px;'></div>
                    <script>
                    mapboxgl.accessToken = 'pk.eyJ1IjoibWJheWVtYzIiLCJhIjoiY2txcWRhMXh5MWc4ODJvcHF6Z3dudzdvbyJ9.NYhwiv_iLjOux8bg9e99Wg';
                    var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: [-16.9651, 14.7954],
                    zoom: 9
                    });
                    </script>
                </div>

                <div class="col-lg-5">
                    <form class="modal-content" >
                        <div class="container">
                          <h4>Trouver directement l'itinéraire depuis votre adresse jusqu'à l'EPT</h4>
                          <hr>
                          <label for="email"><b>ADRESSE</b></label>
                          <input type="text" placeholder="Ville/Région" name="adresse" required>
                    
                          <label for="psw"><b>BP</b></label>
                          <input type="password" placeholder="Boite Postale" name="bp" required>
                  
                          <div class="clearfix">
                            <button type="button" class="btn btn-outline-warning">Search</button>
                           
                          </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>

    </div>
  

{% endblock %}

