
<div  class="cover ">
    <div style="margin-left: 60px; margin-top: -40;  ">
    <h8 class="w-1  text-white  mt-2 mr-2 pr-1" style="font-family: cursive; font-size: 18px;"><br>
        <h2>Sagesse - Devoir </h2><p>L'école polytechnique de Thiès,connus sous le sigme de EPT,<br> est une
            grande école d'ingénieurs implantée au Sénégal.<br> Créée en 1973 par Léopold Sédar Senghor, elle forme<br> des ingénieurs dans les
            domaines du génie civil, <br>du génie éléctromécanique(avec une filière Aéronautique)<br> et du génie informatique et
            télécommunications</p>
    </h8>
    </div>
</div>