{% load static %}
<nav class="navbar navbar-expand-lg navbar-light " style="background-color:white;">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'images/ept_logo.svg' %} " width="100" height="60" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active ">
            <a class="nav-link " href="{% url 'index' %}">Accueil<span class="sr-only"></span></a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Départements
          </a>
          <div class="dropdown-menu bg-warning"  aria-labelledby="navbarDropdown">
            <a class="dropdown-item " href="{% url 'meca' %}" >GENIE ELECTROMECANIQUE</a> 
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'git' %}">GENIE INFORMATIQUE ET TELECOM</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'civil' %}" >GENIE CIVIL</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'aero' %}"> AERONAUTIQUE</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"> TRONC COMMUN</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Administrastion <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'contact' %}">Contacts</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'about' %}">A propos<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active" style="padding-left: 10px;">
          <a class="nav-link" href="#"><i class="fa fa-user"></i>Fr</a>
        </li>
        
        <li class="nav-item active" style="padding-left: 10px;">
          <a class="nav-link" href="#"><i class="fa fa-user"></i>An</a>
        </li>
      </ul>
      
        
      
      {% if user.is_authenticated %}
      <li style="list-style: none; margin-right: 20px;">{{ user.username }}</li>
        <div class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-warning mr-sm-3"  >
            <a style="color: black; text-decoration: none;" href="{% url 'logout' %}">DECONNEXION</a>
          </button>
        </div>
      {% else %}
      <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-warning mr-sm-3" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>  
      </div>
      <!-- <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-warning mr-sm-3"  type="submit" > <a style="color: black; text-decoration: none;" href="{% url 'login' %}">CONNEXION</a></button>
      </div> -->
      <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-warning mr-sm-3 my-1 my-sm-6" > <a style="color: black; text-decoration: none;" href="{% url 'register' %}">INSCRIPTION</a></button>
      </div>
      {% endif %}

      {% include 'home/connexion.html' %}      
    </div>
  </nav>