{% load static %}
<nav class="navbar navbar-expand-lg navbar-light " style="background-color:white;">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'images/ept_logo.svg' %} " width="100" height="60" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active ">
            <a class="nav-link" href="{% url 'index' %}">Accueil<span class="sr-only"></span></a>
          </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Départements
          </a>
          <div class="dropdown-menu bg-warning"  aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'civil' %}" >Génie civil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'git' %}">Génie informatique</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'meca' %}" >Génie electro</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'aero' %}">Génie aéro</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Administrastion <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'contact' %}">Contacts</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">A propos<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-warning mr-sm-3"  onclick="document.getElementById('id01').style.display='block'" type="submit" >Connexion</button>
      </div>
      <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-warning mr-sm-3 my-1 my-sm-6" onclick="document.getElementById('id02').style.display='block'" type="submit">Inscription</button>
      </div>
      <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form class="modal-content" action="/action_page.php">
          <div class="container">
            <h1>Sign Up</h1>
            
            <hr>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
      
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
      
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
            
            <label>
              <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>
            
            <div class="clearfix">
              <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
              <button type="submit" class="signupbtn">Sign Up</button>
            </div>
          </div>
        </form>
      </div>

      

      <div id="id02" class="modal">
        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form class="modal-content" >
          <div class="container">
            <h1>Sign in</h1>
            <hr>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
      
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
    
            <div class="clearfix">
              <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
              <button type="submit" class="signupbtn">Sign In</button>
            </div>
          </div>
        </form>
      </div>
      
    </div>
  </nav>